//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends login_layout

block login_content
  h1!= title

  h2
    a(href='https://thislab.net' target='_blank') Thislab 
    | network controller 

  block footer
    p
      a(href='http://beian.miit.gov.cn' target='_blank') 皖ICP备15018911号-9