//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content
  h1!= title

  h2
    a(href='https://thislab.net' target='_blank') Thislab
    | network controller
    a(href='https://thislab.net' target='_blank') Thislab Networks

  if error
     b #{error}
  else
    h4 This network controller has a address of <b>#{zt_status.address}</b>
    h4 zt version <b>#{zt_status.version}</b>
    h4
      a(href='/controller/networks') List all networks on this network controller

  p
    a(href='http://beian.miit.gov.cn' target='_blank') 皖ICP备15018911号-9